<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coffee Beans
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (beansArray.length === 0) {
    <p>Failed to fetch data! :(</p>
  } @else {
    @for (bean of beansArray; track bean.id) {
      <ion-card [button]="true" (click)="showDetail(bean.id)">
        <ion-card-header>
          <ion-card-title>{{ bean.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ bean.description ?? "No description" }}</ion-card-content>
      </ion-card>
    }
  }
</ion-content>
