<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coffee Beans
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  @for (bean of beansArray | filter : searchText; track bean.id) {
    <ion-card [button]="true" (click)="showDetail(bean.id)">
      <ion-card-header>
        <ion-card-title>{{ bean.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ bean.description ?? "No description" }}</ion-card-content>
    </ion-card>
  } @empty {
    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
      <p style="font-size: 20px;">Nothing found!</p>
    </div>
  }

</ion-content>
