<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Saved
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Beans</ion-label>
    </ion-item-divider>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Drinks</ion-label>
    </ion-item-divider>

    <ion-item [button]="true">
      <ion-label>Cappucino</ion-label>
    </ion-item>
    <ion-item [button]="true">
      <ion-label>Latte</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
