<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Saved
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Beans</ion-label>
    </ion-item-divider>
    @for (b of beans; track b.name) {
      <ion-item [button]="true" (click)="showBeanDetail(b)">
        <ion-label>{{ b.name }}</ion-label>
      </ion-item>
    } @empty {
      <ion-item>
        <ion-label color="medium">No saved coffee beans</ion-label>
      </ion-item>
    }
    <ion-item-divider>
      <ion-label>Drinks</ion-label>
    </ion-item-divider>
    @for (d of drinks; track d.name) {
      <ion-item [button]="true" (click)="showDrinkDetail(d)">
        <ion-label>{{ d.name }}</ion-label>
      </ion-item>
    } @empty {
      <ion-item>
        <ion-label color="medium">No saved coffee drinks</ion-label>
      </ion-item>
    }
  </ion-item-group>
</ion-content>
