<ion-header>
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <lucide-icon [img]="X"></lucide-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
@if (bean !== null) {
  <ion-content class="ion-padding beans">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="saveBean(bean)">
        <lucide-icon [img]="favoritedState"></lucide-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ bean.name }}
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{ bean.description ?? "No description" }}
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ bean.species.name }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ bean.species.description }}
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Coffee bean roast
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Roast level: {{ bean.roast }}</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Coffee bean geographical information
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Country of roastage: {{ bean.country_roasted }}</p>
        @if(bean.country_origin.length > 1) {
          <p>Countries of origin</p>
          <ul>
            @for (country of bean.country_origin; track country) {
              <li>{{ country }}</li>
            }
          </ul>
        } @else if (bean.country_origin.length === 1) {
          <p>Country of origin: {{ bean.country_origin[0] }}</p>
        }
      </ion-card-content>
    </ion-card>
  </ion-content>

  } @else if (drink !== null) {
    <ion-content class="ion-padding drinks">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="saveDrink(drink)">
        <lucide-icon [img]="favoritedState"></lucide-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ drink.name }}
        </ion-card-title>
      </ion-card-header>
      <div style="display: flex;">
        <ion-card-content style="display: inline-block;">
          {{ drink.description ?? "No description" }}
        </ion-card-content>
        @if (drink.image_url !== "" || drink.image_url !== null) {
          <img src="{{ drink.image_url }}" style="display: inline-block; padding: 25px; object-fit: contain; object-position: top;"/>
        }
      </div>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Ingredients and contents
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        @for (ingredient of drink.ingredients; track ingredient.ingredient) {
          <p>{{ ingredient.content }}ml of {{ ingredient.ingredient }}</p>
        }
      </ion-card-content>
    </ion-card>
  </ion-content>
  } @else {
    <ion-content>
      <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
        <ion-spinner name="dots" style="width: 100px; height: 100px;"></ion-spinner>
      </div>
    </ion-content>
  }
